/* ##### IMPORTS ##### */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* ######  TAGS ###### */

body {
    margin: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 12.5%;
}

nav div a{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav div a:hover {
    background-color: #366fa5;
}

footer {
    padding: 150px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a p {
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}

/* ##### CLASSES ##### */

.footer-links {
    color: black;
    text-decoration: none;
    width: 100px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: block;
}

.footer-links:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.2s ease-in-out;
}

/* ####### IDS ####### */

#top-sect {
    background-color: #28527a;
    padding-top: 2rem;
    height: 500px;
}

#ham {
    display: none;
    color: black;
}

#menu {
    display: flex;
    margin: 0;
    padding: 0;

}

#close {
    display: none;
}

#mid-1 {
    height: 100px;
}

#mid-2 {
    height: 500px;
    background-color: #8ac4d0;
}

/* ##### QUERIES ##### */

@media (prefers-color-scheme: dark){
    body {
        background-color: rgb(41, 41, 41);
    }

    #ham {
        color: white
    }

    .footer-links {
        color: white;
    }

    .footer-links:hover {
        background-color: rgb(78, 78, 78);
    }
}

@media (max-width: 720px){
    #ham {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    #menu {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 80%;
        transition: 0.3s ease-out;
        left: 0;
        transform: translateX(-100%);
        background-color: #f4d160;
    }

    #close {
        display: block;
        margin: 1rem;
    }

    nav div a {
        display: block;
        height: fit-content;
        margin: 0;
    }

    nav div a:hover {
        background-color: #ffe591;
    }
    
    footer {
        display: block;
        padding: 50px;
    }
    
    .footer-links {
        margin: 0.5rem auto;
    }
}