/* ##### IMPORTS ##### */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ######  TAGS ###### */

body {
    margin: 0;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}

nav div a{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: 0.2s ease-out;
    pointer-events: auto;
}

nav div a:hover {
    background-color: #93dbe9;
    transition: 0.2s ease-in;
}

footer {
    padding: 100px 0;
    text-align: center;
}

footer h1 {
    color: black;
}

footer div a p {
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}

/* ##### CLASSES ##### */

.cloud {
    position: absolute;
    height: 50px;
}

.star {
    display: none;
    position: absolute;
    width: 25px;
}

.st-1 {
    left: 11.1%;
    top: 200px;
}

.st-2 {
    left: 22.2%;
    bottom: 100px;
}

.st-3 {
    right: 22.2%;
    top: 80px;
}

.st-4 {
    bottom: 75px;
    right: 8%;
}

.footer-links {
    color: black;
    text-decoration: none;
    width: 100px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: block;
    transition: 0.2s ease-out;
}

.footer-links:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.2s ease-in;
}

/* ####### IDS ####### */

#top-sect {
    background-color: #8ac4d0;;
    padding-top: 2rem;
    height: 600px;
    text-align: center;
    overflow: hidden;
}

#ham {
    display: none;
    color: black;
}

#menu {
    display: flex;
    margin: 0;
    padding: 0;

}

#sun {
    animation: spin infinite linear;
    animation-duration: 16s;
    pointer-events: none;
    width: 40%;
}

#moon {
    display: none;
}

#close {
    display: none;
}

#mid-1 {
    height: 400px;
}

#mid-1 hr {
    border: 10px dotted;
    border-bottom: 0;
    width: 10%;

}

#mid-2 {
    height: fit-content;
    background-color: #8ac4d0;
    padding: 8% 17.5%;
    font-size: 1.5rem;
    color: black;
    font-family: 'Raleway';
}

#mid-2 p {
    line-height: 1.8;
}

#img-1 {
    height: 250px;
    border-radius: 15px;
    float: right;
    margin-left: 5px;
}

#contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* #### KEYFRAMES #### */

@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* ##### QUERIES ##### */

@media (prefers-color-scheme: dark){
    body {
        background-color: rgb(41, 41, 41);
    }

    #top-sect {
        background-color: #28527a;
    }

    nav div a:hover {
        background-color: #366fa5;
    }

    #ham {
        color: white;
    }

    .cloud {
        display: none;
    }

    .star {
        display: block;
    }

    .footer-links {
        color: white;
    }

    .footer-links:hover {
        background-color: rgb(78, 78, 78);
    }

    #sun {
        display: none;
    }

    #moon {
        display: block;
        animation: spin infinite linear;
        animation-duration: 16s;
        margin: 0 auto;
        width: 40%;
    }

    footer h1 {
        color: white;
    }
}

@media (max-width: 720px){
    #ham {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    #menu {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 80%;
        transition: 0.3s ease-out;
        left: 0;
        background-color: #3838386c;
        backdrop-filter: blur(5px);
        text-align: left;
        z-index: 10;
    }

    #close {
        display: block;
        margin: 1rem;
    }

    nav div a {
        display: block;
        height: fit-content;
        margin: 0;
        border-radius: 0;
    }

    nav div a:hover {
        background-color: #7575756c;
    }
    
    footer {
        padding: 50px;
    }

    #contacts {
        display: block;
    }
    
    .footer-links {
        margin: 0.5rem auto;
    }

    #mid-2 p {
        text-align: center;
        font-size: 1.25rem;
    }

    #mid-2 div {
        display: flex;
        justify-content: center;
    }

    #img-1 {
        float: none;
        margin: 0;
    }
}